body {
    position: relative;
    font-family: 'Cormorant SC';
    background-image: url(dark-souls-bg-gif.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0;
    padding-top: 10%
}
#menu {
    font-size: 3em;
    color: whitesmoke;
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px darkred, 0 0 15px darkred, 0 0 20px darkred, 0 0 27.5px darkred, 0 0 37.5px darkred;    
}
/* #yd {
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(transparent, black, rgba(0,0,0,0.9), black, transparent);
} */
#win {
    color: gold;
    font-size: 5em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 55px yellow, 0 0 75px yellow;
}
#lose {
    color: red;
    font-size: 5em;
}
#counters {
    width: 100%;
    font-size: 2em;
}
#dc {
    color: red;
    float: left;
    text-shadow: 0 0 2.5px black, 0 0 5px black, 0 0 10px darkred, 0 0 15px darkred, 0 0 20px darkred, 0 0 27.5px darkred, 0 0 37.5px darkred;   
}
#wc {
    margin-left: 10px;
    float: right;
    color: gold;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 55px yellow, 0 0 75px yellow;
}
#rng {
    color: white;
    border-radius: 10px;
    background-color: transparent;
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px green, 0 0 15px green, 0 0 20px green, 0 0 27.5px green, 0 0 37.5px green;    
}